<div id="wrapper">
  <div id="player" class="match_holder">
    {{playerMatches}}
    <li *ngFor="let match of getMatches(playerMatches)" class="matches"><div class="match_tip"></div></li>
  </div>
  <div id="matchHeap" class="match_holder">
    {{matches}}
    <li *ngFor="let match of getMatches(matches)" class="matches"><div class="match_tip"></div></li>
  </div>
  <div id="ai" class="match_holder">
    {{aiMatches}}
    <li *ngFor="let match of getMatches(aiMatches)" class="matches"><div class="match_tip"></div></li>
  </div>
  <br>
  <div id="taken">
    <p>Спичек взято: {{takenMatches}}</p>
    <div class="button" (click)="onPickedNumChange(true)">+</div>
    <div class="button" (click)="onPickedNumChange(false)">-</div>
    <br>
    <div id="confirm" class="button" (click)="onConfirm()">Confirm</div>
    <div id="reloader" class="button" (click)="reload()">&#9986;</div>
    <br>
    <div id="switch" class="button" (click)="switch()" [ngStyle]="{'background-color': modeSwitched? 'red' : 'green'}">&#9757;</div>
  </div>
</div>

<router-outlet></router-outlet>
